<div class="container-all">
<div class="artist-description">
  <h2>{{gallery.username}}</h2>
  <img src="{{gallery.imgPath}}" alt="profile picture" >
</div>
<hr>
<p>{{gallery.description}}</p> 


<div class="artist-description-art">
  {{#each gallery.artworks}}
   <a href="/artworks/detail/{{this._id}}"><img src="{{this.imgPath}}" alt="{{this.imgName}}"></a> 
  {{/each}}
</div>

<figure id="map"></figure>
<script>
  const coor = {{{gallery.location}}}
  const {username} = {{{galleryJSON}}}
</script>
<script src="https://unpkg.com/axios/dist/axios.min.js"></script>
<script src="https://maps.googleapis.com/maps/api/js?key={{googleKey}}"></script>
<script src="/javascripts/gallery-map.js"></script>
</div>