

<div class="artist-description">
  <h2>{{artist.username}}</h2>
  <img src="{{artist.imgPath}}" alt="profile picture" >
</div>
<hr>
<p>{{artist.description}}</p> 


<div class="artist-description-art">
  {{#each artist.artworks}}
   <a href="/artworks/detail/{{this._id}}"><img src="{{this.imgPath}}" alt="{{this.imgName}}"></a>
  
  {{/each}}
</div>


